// Colors
$white-color: #FFFFFF;
$content-color: #546285;
$accent-color: #35B8BE; 
$black-color: #000000;
$header-color: #28224B;
$title-color: #08090A;
$hover-btn: #2b9399;
$header: rgb(252, 250, 250);
$section-color: #F5FBFC;
$span-color: #1B9097;
$icons-color:#BBC4D1;
$blue-color: #06a3f8;

// Media
$laptop: 1062.98px;
$tablet: 992.98px;
$ipad: 768.98px;
$big: 600.98px;
$mobile: 425.98px;
$small: 375.98px;